---
import Layout from '../layouts/Layout.astro';
import MarkdownCleaner from '../components/MarkdownCleaner.jsx';
---

<Layout>
	<h1 class="text-center text-4xl font-bold my-7">Markdown Cleaner</h1>
	<MarkdownCleaner client:only="react" />
</Layout>
